<ion-tabs class="tabs-striped tabs-color-positive">

	<ion-tab title="Rooms" href="#/tab/rooms">
		<ion-nav-view name="tab-rooms"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Chat" href="#/tab/chat">
		<ion-nav-view name="tab-chat"></ion-nav-view>
	</ion-tab>

	<ion-tab title="Logout" ng-click="logout()" href="">
		<ion-nav-view name="logout"></ion-nav-view>
	</ion-tab>

</ion-tabs>

<!-- <a class="item item-icon-left" href="#">
  <i class="icon ion-email"></i>
  Check mail
</a> -->
<!-- ion-chatbox

ion-android-checkbox-outline-blank

ion-log-out -->
